@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&family=Roboto:wght@300&display=swap");
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

#map {
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 70% 30%;
  height: 100vh;
}

.maker-general {
  background-color: #1f3651 !important;
  border-radius: 10px;
  padding: 0.5rem;
  color: #fff !important;
  font-weight: 600;
}
.maker-general:before {
  color: #00ba26;
  content: "USD$ ";
}

.maker-general-pen {
  background-color: #1f3651 !important;
  border-radius: 10px;
  padding: 0.5rem;
  color: #fff !important;
  font-weight: 600;
}
.maker-general-pen:before {
  color: #00ba26;
  content: "PENS/ ";
}

.content {
  height: auto;
  margin: 1.5rem 2rem;
}
.content #sinDataPunto {
  margin: auto;
  display: block;
  text-align: center;
}
.content #sinDataPunto img {
  width: 250px;
}
.content #dataPunto {
  width: 100%;
  height: 26.5;
  display: none;
}
.content_header {
  display: flex;
  justify-content: space-between;
}
.content_header_type {
  display: flex;
  gap: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}
.content_header_type_primer {
  padding: 0.5rem;
  border-radius: 20px;
  background-color: #cefae1;
  color: #2cba73;
}
.content_header_type_second {
  padding: 0.5rem;
  border-radius: 20px;
  background-color: #f6e5ff;
  color: #bd21f6;
}
.content_header_close {
  cursor: pointer;
  background-color: #506689;
  border-radius: 50%;
  color: white;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content_header_close::before {
  font-family: "Material Icons";
  content: "\e5cd";
}
.content_name {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5%;
  justify-content: center;
  align-items: center;
}
.content_name_img {
  display: flex;
  justify-content: start;
  align-items: center;
}
.content_name_img img {
  height: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 9px 12px 39px -30px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 12px 39px -30px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 12px 39px -30px rgba(0, 0, 0, 0.75);
}
.content_name_text {
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  text-align: start;
  letter-spacing: 0.5px;
  line-height: 23px;
  word-wrap: break-word;
}
.content_location {
  margin: 1rem 0;
  color: #bcc7d4;
}
.content_price {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.3rem;
}
.content_price_name {
  margin-bottom: 0;
  color: #1f3651;
}
.content_price_usd {
  margin: 0;
  color: #007bff;
}
.content_price_local {
  margin-top: 0;
  color: #bcc7d4;
}
.content hr {
  margin: 0;
  border: 1px solid #bcc7d4;
}
.content_characterist_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.content_characterist_grid-cont {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  gap: 10px;
}
.content_characterist_grid-cont-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #e8eefa;
  border-radius: 50%;
}
.content_characterist_grid-cont-icon .material-icons {
  color: #007bff;
}
.content_characterist_grid-cont-text {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.content_characterist_grid-cont-text p {
  margin: 0;
  font-size: 13px;
}
.content_characterist_grid-cont-text-detail {
  margin: 0 auto;
  color: #1f3651 !important;
  font-weight: 500;
}
.content_otherCharacterist {
  margin-top: 2rem;
}
.content_otherCharacterist #sheetCharacterist {
  padding: 1rem;
  position: fixed;
  left: 71.5%;
  transform: translate(50%, 10%);
  bottom: 0px;
  width: 26.7%;
  height: 55%;
  background-color: #fff;
  transform: translateY(100%);
  transition: all 0.5s ease-out;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.content_otherCharacterist #sheetCharacterist.active {
  display: block;
  transform: translateY(0);
}
.content_otherCharacterist #sheetCharacterist .sheetCharacterist_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content_otherCharacterist #sheetCharacterist .sheetCharacterist_content {
  height: 85%;
  overflow-y: auto;
  text-align: start;
}
.content_otherCharacterist #sheetCharacterist .sheetCharacterist_content .divOtherCharactGrid {
  margin-bottom: 0.5rem;
}
.content_otherCharacterist #sheetCharacterist .sheetCharacterist_content .divOtherCharactGrid::before {
  font-family: "Material Icons";
  content: "\e876";
  color: black;
}
.content_otherCharacterist_grid {
  font-size: 13px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.content_otherCharacterist_grid div {
  margin-bottom: 0.5rem;
}
.content_otherCharacterist_grid div::before {
  font-family: "Material Icons";
  content: "\e876";
}
.content_otherCharacterist_btn {
  margin-top: 2rem;
  cursor: pointer;
  color: #f87a34;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  gap: 10px;
}
.content_otherCharacterist_btn-icon {
  background-color: #f87a34;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50px;
}
.content_otherCharacterist_btn .material-icons {
  color: #fff;
}
.content_otherCharacterist_btn p {
  margin: auto 0px;
  font-size: 15px;
}

@media (max-width: 1200px) {
  #map {
    height: 50% !important;
  }
  .container {
    display: block;
  }
  .content_header {
    justify-content: flex-end;
    gap: 0rem;
  }
  .content_header_type {
    padding-left: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .content_name {
    display: block;
  }
  .content_name_img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content_name_text {
    margin-top: 1rem;
    text-align: center;
  }
  .content_location {
    text-align: center;
  }
  .content_price {
    text-align: center;
  }
  .content_characterist {
    text-align: center;
    margin: 1rem 20rem;
  }
  .content_characterist_grid {
    margin-top: 2rem;
  }
  .content_otherCharacterist {
    text-align: center;
  }
  .content_otherCharacterist_btn {
    justify-content: center;
    align-items: center;
  }
  #map {
    height: 30%;
  }
}
@media (max-width: 576px) {
  .container {
    display: block;
  }
  #map {
    height: 30%;
  }
  .content_header {
    justify-content: space-between;
  }
  .content_header_type {
    width: 100%;
    display: flex;
    justify-content: start;
  }
  .content_characterist {
    text-align: left;
    margin: 0;
  }
  .content_characterist_grid {
    margin-top: 2rem;
  }
  .content_otherCharacterist {
    text-align: left;
  }
  #sheetCharacterist {
    position: fixed;
    left: 0% !important;
    right: 0%;
    transform: translate(-50%, 0%) !important;
    width: 90% !important;
    transform: translateY(100%) !important;
    transition: all 0.5s ease-out !important;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  #sheetCharacterist.active {
    display: block;
    transform: translateY(0%) !important;
  }
}
#formFilter {
  margin-top: 2rem;
}

.field {
  margin: 1rem;
  border-radius: 10px;
  position: relative;
}
.field select {
  -webkit-appearance: none;
  padding: 7px 40px 7px 12px;
  width: 100%;
  border: 1px solid #f87a34;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 1px 3px -2px #f87a34;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: all 150ms ease;
  color: #1f3651;
}
.field .material-icons {
  position: absolute;
  right: 28px;
  top: calc(30% - 3px);
  width: 10px;
  height: 6px;
  stroke-width: 2px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}

.btn-form {
  cursor: pointer;
  padding: 1rem;
  border-radius: 10px;
  font-family: inherit;
  font-size: inherit;
  background-color: #f87a34;
  border-color: #f87a34;
  border-width: 0ch;
  color: #fff;
}

.typePrice {
  width: auto;
  height: 50px;
  margin: 2rem;
}
.typePrice input#status {
  display: none;
}
.typePrice input#status + label {
  height: 100%;
  width: 100%;
}
.typePrice input#status + label .status-switch {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #00ba26;
  color: #fff;
  transition: all 0.5s ease;
  padding: 3px;
  border-radius: 3px;
}
.typePrice input#status + label .status-switch:before, .typePrice input#status + label .status-switch:after {
  border-radius: 2px;
  height: calc(100% - 6px);
  width: calc(50% - 3px);
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  transition: all 0.3s ease;
}
.typePrice input#status + label .status-switch:before {
  background-color: #fff;
  color: black;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
  left: 3px;
  z-index: 10;
  content: attr(data-unchecked);
}
.typePrice input#status + label .status-switch:after {
  right: 0;
  content: attr(data-checked);
}
.typePrice input#status:checked + label > .status-switch {
  background-color: #00ba26;
}
.typePrice input#status:checked + label > .status-switch:after {
  left: 0;
  content: attr(data-unchecked);
}
.typePrice input#status:checked + label > .status-switch:before {
  color: #00ba26;
  left: 50%;
  content: attr(data-checked);
}

/*# sourceMappingURL=style.css.map */
