
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&family=Roboto:wght@300&display=swap');
@import "./variables.scss";


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

#map {
  height: 100%;
}



.container {
  display: grid;
  grid-template-columns: 70% 30%;
  height: 100vh;
}

.maker-general {
  background-color: $textColor !important;
  border-radius: 10px;
  padding: 0.5rem;
  color: $white !important;
  font-weight: 600;

  &:before {
    color: $colorTag;
    content: "USD$ ";
  }
}


.content {
  #sinDataPunto {
    margin: auto;
    display: block;
    text-align: center;

    img {
      width: 250px;
    }
  }


  #dataPunto {
    width: 100%;
    height: 26.5;
    display: none;


  }


  height: auto;
  margin: 1.5rem 2rem;

  &_header {
    display: flex;
    justify-content: space-between;

    &_type {
      display: flex;
      gap: 1rem;
      text-transform: capitalize;
      letter-spacing: 0.5px;

      &_primer {
        padding: 0.5rem;
        border-radius: 20px;
        background-color: $chipPrimColorBackgroud;
        color: $chipPrimColor;

      }

      &_second {
        padding: 0.5rem;
        border-radius: 20px;
        background-color: $chipSecColorBackgroud;
        color: $chipSecColor;
      }
    }

    &_close {
      cursor: pointer;
      background-color: $btnCerrarColorBackgroud;
      border-radius: 50%;
      color: $btnCerrarColor;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      &::before {
        font-family: "Material Icons";
        content: '\e5cd';
      }
    }
  }

  &_name {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5%;
    justify-content: center;
    align-items: center;

    &_img {

      display: flex;
      justify-content: start;
      align-items: center;

      img {
        height: 100%;
        border-radius: 10px;
        -webkit-box-shadow: 9px 12px 39px -30px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 9px 12px 39px -30px rgba(0, 0, 0, 0.75);
        box-shadow: 9px 12px 39px -30px rgba(0, 0, 0, 0.75);
      }

    }

    &_text {
      font-weight: 800;
      font-size: 18px;
      text-transform: uppercase;
      text-align: start;
      letter-spacing: 0.5px;
      line-height: 23px;
      word-wrap: break-word;
    }
  }

  &_location {
    margin: 1rem 0;
    color: $whiteOp;
  }

  &_price {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.3rem;

    &_name {
      margin-bottom: 0;
      color: $textColor;
    }

    &_usd {
      margin: 0;
      color: $secondary;
    }

    &_local {
      margin-top: 0;
      color: $whiteOp;
    }
  }

  hr {
    margin: 0;
    border: 1px solid $whiteOp;
  }

  &_characterist {

    &_grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;

      &-cont {
        display: flex;
        justify-content: flex-start;
        align-items: start;
        gap: 10px;

        &-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          background-color: $whiteOpBackground;
          border-radius: 50%;

          .material-icons {
            color: $secondary;
          }
        }

        &-text {
          display: flex;
          flex-direction: column;
          margin-top: auto;

          p {
            margin: 0;
            font-size: 13px;
          }

          &-detail {
            margin: 0 auto;
            color: $textColor !important;
            font-weight: 500;
          }
        }
      }
    }

  }

  &_otherCharacterist {
    margin-top: 2rem;

    //Style Sheet
    #sheetCharacterist {
      padding: 1rem;
      position: fixed;
      left: 71.5%;
      transform: translate(50%, 10%);
      bottom: 0px;
      width: 26.7%;
      height: 55%;
      background-color: $white;
      transform: translateY(100%);
      transition: all 0.5s ease-out;

      text-align: center;
      justify-content: center;
      align-items: center;

      &.active {
        display: block;
        transform: translateY(0);
      }


      .sheetCharacterist {

        &_header {
          display: flex;
          justify-content: space-between;
          align-items: center;



        }

        &_content {
          height: 85%;
          overflow-y: auto;
          text-align: start;

          .divOtherCharactGrid {
            margin-bottom: 0.5rem;

            &::before {

              font-family: 'Material Icons';
              content: '\e876';

              color: black;
            }
          }
        }

      }


    }

    &_grid {
      font-size: 13px;
      display: grid;
      grid-template-columns: 1fr 1fr;

      div {
        margin-bottom: 0.5rem;

        &::before {

          font-family: 'Material Icons';
          content: '\e876';
        }
      }

    }

    &_btn {
      margin-top: 2rem;
      cursor: pointer;
      color: $primary;
      display: flex;
      justify-content: flex-start;
      align-items: start;
      gap: 10px;

      &-icon {
        background-color: $primary;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        border-radius: 50px;
      }

      .material-icons {
        color: $white;
      }

      p {
        margin: auto 0px;
        font-size: 15px;
      }

    }
  }




}


// Tablet
@media (max-width: 1200px) {
  #map {
    height: 50% !important;
  }

  .container {
    display: block;

  }

  .content {
    &_header {
      justify-content: flex-end;
      gap: 0rem;

      &_type {
        padding-left: 3rem;
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }


    &_name {
      display: block;

      &_img {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &_text {
        margin-top: 1rem;
        text-align: center;


      }
    }

    &_location {
      text-align: center;
    }

    &_price {
      text-align: center;
    }

    &_characterist {
      text-align: center;
      margin: 1rem 20rem;

      &_grid {
        margin-top: 2rem;
      }
    }

    &_otherCharacterist {
      text-align: center;

      &_btn {
        justify-content: center;
        align-items: center;
      }
    }
  }

  #map {
    height: 30%;
  }

}



// Mobile
@media (max-width: 576px) {

  .container {
    display: block
  }

  #map {
    height: 30%;
  }



  .content {

    &_header {
      justify-content: space-between;

      &_type {
        width: 100%;
        display: flex;
        justify-content: start;
      }
    }

    &_characterist {
      text-align: left;
      margin: 0;

      &_grid {
        margin-top: 2rem;
      }
    }

    &_otherCharacterist {
      text-align: left;


    }

  }

  #sheetCharacterist {
    // display: none;
    position: fixed;
    left: 0% !important;
    right: 0%;
    transform: translate(-50%, 0%) !important;
    width: 90% !important;



    transform: translateY(100%) !important;
    transition: all 0.5s ease-out !important;

    text-align: center;
    justify-content: center;
    align-items: center;

    &.active {
      display: block;
      transform: translateY(0%) !important;
    }
  }


}

//formulario

#formFilter {

  margin-top: 2rem;
}

.field {
  // background-color: $secondary;
  margin: 1rem;
  border-radius: 10px;
  position: relative;

  select {
    -webkit-appearance: none;
    padding: 7px 40px 7px 12px;
    width: 100%;
    border: 1px solid $primary;
    border-radius: 5px;
    background: $white;
    box-shadow: 0 1px 3px -2px $primary;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    transition: all 150ms ease;
    color: $textColor;



  }

  .material-icons {
    position: absolute;
    right: 28px;
    top: calc(30% - 3px);
    width: 10px;
    height: 6px;
    stroke-width: 2px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    pointer-events: none;
  }
}

.btn-form{
  cursor: pointer;
  padding: 1rem;
  border-radius: 10px;
  font-family: inherit;
  font-size: inherit;
  background-color: $primary;
  border-color: $primary;
  border-width: 0ch;
  color: $white;
}