$primary: #f87a34;
$secondary: #007bff;



// primer chip
$chipPrimColorBackgroud: #cefae1;
$chipPrimColor: #2cba73;

//Segundo chip
$chipSecColorBackgroud: #f6e5ff;
$chipSecColor: #bd21f6;

//boton cerrar
$btnCerrarColorBackgroud: #506689;
$btnCerrarColor: white;


//blanco palido
$white: #fff;
$whiteOp: #bcc7d4;
$whiteOpBackground: #e8eefa;

$textColor: #1f3651;

//color Tag dinero
$colorTag: #00ba26;